* {
    background-color: bisque;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.board {
    width: 498px;
    height: 498px;
    border: 10px solid darkgray;
    background-color: lightgray;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.board div {
    width: 53px;
    height: 53px;
    border: 1px solid white;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.topbar {
    width: 498px;
    height: 75px;
    border: 10px solid darkgray;
    background-color: lightgray;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mine-count {
    background-color: lightgray;
    font-size: 35px;
}
.facesmile {
    text-align: center;
    background-color: lightgray;
    width: 70px;
    height: 65pxx;
    border: 2px solid darkgray;
    font-size: 35px;
    cursor: pointer;
}
.timer {
    font-size: 35px;
    background-color: lightgray;
}
.lose {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
