* {
    background-color: bisque;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.board {
    width: 498px;
    height: 498px;
    border: 10px solid darkgray;
    background-color: lightgray;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.board div {
    width: 53px;
    height: 53px;
    border: 1px solid white;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.topbar {
    width: 498px;
    height: 75px;
    border: 10px solid darkgray;
    background-color: lightgray;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.mine-count {
    color: red;
    background-color: lightgray;
    font-size: 35px;
    width: 70px;
    height: 45px;
    border: 2px solid darkgray;
    text-align: center;
}
.facesmile {
    text-align: center;
    background-color: lightgray;
    width: 70px;
    height: 45px;
    border: 2px solid darkgray;
    font-size: 35px;
    cursor: pointer;
}
.timer {
    color: red;
    font-size: 35px;
    background-color: lightgray;
    width: 70px;
    height: 45px;
    border: 2px solid darkgray;
    text-align: center;
}
.lose {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mine-count-1 {
    color: blue;
    font-size: 30px;
}
.mine-count-2 {
    color: green;
    font-size: 35px;
}
.mine-count-3 {
    color: maroon;
    font-size: 35px;
}
.mine-count-4 {
    color: red;
    font-size: 35px;
}
.mine-count-5 {
    color: magenta;
    font-size: 35px;
}
.mine-count-6 {
    color: gold;
    font-size: 35px;
}
.mine-count-7 {
    color: orange;
    font-size: 35px;
}
.mine-count-8 {
    color: black;
    font-size: 35px;
}
footer {
    text-align: center;
    font-size: 15px;
}
