@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One');

* {
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    background-color: bisque;
    background: url('./Images/pexels-photo-388415.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    background-position: center, center;
}

h1 {
    text-align: center;
    font-family: 'Black Ops One', sans-serif;
    background-image: url(./Images/Mines-705x360-1.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    text-decoration: underline;
    color: rgb(33, 31, 31);
    border: 5px solid black;
    margin: 30px;
}
.start-game {
    font-family: 'Black Ops One', sans-serif;
    color: rgb(188, 187, 187);
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.board-container {
}
.board {
    position: relative;
    width: 498px;
    height: 498px;
    border: 10px solid darkgray;
    background-color: lightgray;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.board div {
    width: 53px;
    height: 53px;
    border: 1px solid white;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.topbar {
    width: 498px;
    height: 75px;
    border: 10px solid darkgray;
    background-color: lightgray;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.mine-count {
    color: red;
    background-color: rgb(64, 64, 64);
    font-size: 35px;
    width: 70px;
    height: 45px;
    border: 2px solid darkgray;
    text-align: center;
}
.facesmile {
    text-align: center;
    background-color: rgb(64, 64, 64);
    width: 70px;
    height: 45px;
    border: 2px solid darkgray;
    font-size: 35px;
    cursor: pointer;
}
.timer {
    color: red;
    font-size: 35px;
    background-color: rgb(64, 64, 64);
    width: 70px;
    height: 45px;
    border: 2px solid darkgray;
    text-align: center;
}

.lose {
    position: absolute;
    color: black;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.win {
    position: absolute;
    color: black;
    font-size: 24px;
    text-align: center;
    display: flex;
    z-index: 2;
}

.game-rules {
    text-align: center;
    font-family: 'Black Ops One', sans-serif;
    color: rgb(33, 31, 31);
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
}

.mine-count-1 {
    color: blue;
    font-size: 30px;
}
.mine-count-2 {
    color: green;
    font-size: 35px;
}
.mine-count-3 {
    color: maroon;
    font-size: 35px;
}
.mine-count-4 {
    color: red;
    font-size: 35px;
}
.mine-count-5 {
    color: magenta;
    font-size: 35px;
}
.mine-count-6 {
    color: gold;
    font-size: 35px;
}
.mine-count-7 {
    color: orange;
    font-size: 35px;
}
.mine-count-8 {
    color: black;
    font-size: 35px;
}
footer {
    text-align: center;
    font-size: 15px;
    font-family: 'Black Ops One', sans-serif;
    color: rgb(172, 172, 172);
    text-decoration: underline;
}
.bomb {
    position: absolute;
    border: none;
    width: 490px;
    height: 490px;
    z-index: 1;
}
.trophy {
    background: red;
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: url();
    z-index: 1;
}
